* {
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --yellow-elo: #fdb933;
    --white: white;
    --primary-gray:#7d7873;
    --secondary-grey: #726e6a;
    --grey-background: rgb(240, 240, 240);
    --green-elo: #359c9c; 
}

body, html, main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
} 

.team-elo {
    width: 100%;
    height: 30%;
    position: relative;
    text-align: center;
}

.title {
    color: var(--white);
    text-align: center;
    font-size: 1.6rem;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-elo {
    padding: 15px;
    margin: 10px;
    color: var(--primary-gray);
    font-size: 0.89rem;
    letter-spacing: 0.1rem ;
    line-height: 18px;
  }

.line {
    color: var(--secondary-grey);
    font-weight: bold;
}

.vacancy {
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--green-elo);
    font-size: 1rem;
    font-weight: bold;
} 

.ceo, .about-team {
    background-color: var(--grey-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ceo-image {
    width: 90%;
}

.ceo-word {
    padding: 15px;
    color: var(--secondary-grey);
    font-size: 1.2rem;
    font-weight: bold
}

.name-ceo {
    color: var(--yellow-elo);
    font-style: italic;
    font-weight: bold;
}

.ceo-work {
    padding: 20px;
    color: var(--secondary-grey);
    font-size: 0.89rem;
    letter-spacing: 0.1rem;
    line-height: 18px;
}

.employees {
    width: 45%;
    margin: 5px;
}

.team, .open-vacancy {
    color: var(--secondary-grey);
    font-size: 1.1rem;
    font-weight: bold;
    padding: 20px;
}

.infos {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.info-img {
    width: 32%;
    padding: 15px;
}

.info-title {
    color: var(--secondary-grey);
    font-size: 1.05rem;
    font-weight: bold;
    margin: 15px;
}

.info-about {
    color: var(--secondary-grey);
    font-size: 0.89rem;
    letter-spacing: 0.1rem;
    line-height: 18px;
    padding: 10px;
 }


.more-elo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
 }

.banner-elo {
    width: 90%; 
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 4rem;
        top: 67%;
        left: 50%;
        position: absolute;
    }

    .about-elo {
        font-size: 1.2rem;
        letter-spacing: 0.1rem ;
        line-height: 25px;
    }

    a {
        font-size: 1.3rem;
    }

    .ceo, .about-team {
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }

    .ceo-image {
        width: 50%;
        margin-left: 20px;
        padding: 40px;
    }

   .ceo-description {
        display: flex;
        flex-direction: column;
        justify-content: left;
        text-align: left;
        width: 50%;
   }

   .ceo-word, .name-ceo, .ceo-work {
        padding: 10px 0;
    }

  .name-ceo {
        font-size: 1.4rem;
        font-weight: 200;
  }

  .ceo-work {
        font-size: 1.1rem;
        letter-spacing: 0.1rem ;
        line-height: 25px;
        padding-top: 40px;
  }
   



    
}
